<h1>SUMMON YOUR ANIMAL FOR JUDGEMENT</h1>
<form class="new_animal" id="new_animal" action="/animals" accept-charset="UTF-8" method="post">

<p>
<<<<<<< HEAD
  <input placeholder="name" type="text" name="name" id="animal_name" /><br />
  <input type="submit"  value="New Animal" /><br />
=======
  <input placeholder="name" type="text" name="name" placeholder="What animal do you want?" id="animal_name" /><br />
  <input type="submit" value="New Animal" /><br />
>>>>>>> 24e73a844355fb3e50acb402d9f70a78ef85287f
</p>
</form>

<a class="link" href="/animals">Forget About It</a>
