<h1>Add New Animal</h1>
<form class="new_animal" id="new_animal" action="/animals" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="name" type="text" name="What animal do you want?" id="animal_name" /><br />
  <input type="submit"  value="New Animal" /><br />
</p>
</form>

<a class="link" href="/animal">Forget About It</a>
