<h1>VOTE MEOW</h1>
<nav>
  <a class="link" href="/animals/create">Generate a new animal</a>
</nav>

<ul id="vote-items">
  {{#each animals}}
  <li>
    <h3>{{this.name}}</h3>
    <a href="/animal/1"><img src="{{this.image}}"></a>
  </li>
  {{/each}}
</ul>
