<h1>The Story of {{this.name}}</h1>
<nav>
  <a class="link" href="/animals/">Home</a>
</nav>

<ul>
    <li><img src="{{this.image}}"/></li>
    <li>{{this.description}}</li>
    <li>Votes: {{this.votes}}
</ul>
