<h1>VOTE MEOW</h1>
<nav>
  <a class="link" href="/animals/create">Generate a new animal</a>
</nav>

<ul id="vote-items">
  <li id="leader">
    <h3>Current Winner</h3>
    <a href="/animal/{{this.id}}"><img src="http://www.placehold.it/150x150.jpg"></a>
  </li>

  <li>
    <h3>Cat</h3>
    <a href="/animal/{{this.id}}"><img src="http://www.placehold.it/150x150.jpg"></a>
  </li>

  <li>
    <h3>Dog</h3>
    <a href="/animal/{{this.id}}"><img src="http://www.placehold.it/150x150.jpg"></a>
  </li>
</ul>
