* {
  text-align: center;
  background: #ffffff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

a {
  text-decoration: none;
  text-decoration-color: none;
  background: none;
}

.voting {
  margin: 0 auto;
  width: 10%
}

hr {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 15%;
}

h1 {

}

h3 {
  background: none;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  width: 50%;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

li:first-child {
  background-image: url("../img/confetti.gif");
  padding-bottom: 15px;
  font-size: 50px;
}
